* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
